*{
    font-family: 'Roboto Slab';
}
body{
    margin: 0;
    padding: 0;
    background-color: #111E2A;
    overflow-x: hidden;
}
#backgroundimg{
    position: absolute;
    bottom: -59px;
    left: -125px;
    width: 40%;
    height: 40%;
    z-index: -1;
}
#main{
    display: flex;
}
#left{
    display: flex;
    width: 20%;
    height: 100%;
    flex-direction: column;
}

#menu{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    z-index: 100;
    margin-top: -70px;
    margin-left: 50px;
}
.menuitem{
    display: flex;
    align-items: center;
    margin-bottom: 22px;
}
.menuitem a{
    padding-left: 12px;
    font-size: 18px;
    text-decoration: none;
    color: white;
}
.menuitem img{
    width: 30px;
}

#right{
    width: 90%;
    height: auto;
    padding-bottom: 25px;
    background-color: #F8F7F3;
    border-radius: 72px;
}

#heading h2{
    padding-top: 50px;
    padding-left: 85px;
    font-size: 30px;
    margin-top: -10px;
    margin-left: -10px;
    margin-bottom: 25px;
    color: #111E2A;
}
#top_yellow{
    margin-left: 75px;
    padding: 25px 50px;
    width: 500px;
    background-color: #FFCB00;
    border-radius: 22px;
    margin-top: -10px;
}
#name{
    font-size: 18px;
    font-weight: 600;
}
.menuitem:hover a, .menuitem:hover img{
    color: #ffe57b;
    top: -10px;
}
#rightinner{
    display: flex;
}
#bottom_jobapplications{
    margin-left: 75px;
    margin-top: 55px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    padding: 15px 50px;
    border-radius: 18px;
    height: 410px;
}
#top_calender{
    margin-left: 75px;
    margin-top: -8px;
    background-color: white;
    width: 500px;
    padding: 15px 50px;
    border-radius: 18px;
    height: 325px;
}
#heading_search{
    display: flex;
    border-bottom: 1px solid rgb(234, 234, 234);
}
#heading_search h4{
    font-size: 20px;
}
#searchbar{
    margin-left: 20px;
    padding: 15px;
    margin-top: 5px;
    height: 15px;
    width: 125px;
    background: #F8F3F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
    border: none;
    outline: none;
}
#table{
    margin-top: 25px;
    height: 310px;
    overflow-y: scroll;
    overflow-x: hidden;
}


#viewalljobapp{
    background-color: #FFCB00;
    text-decoration: none;
    color: #575656;
    padding: 10px 18px;
    border-radius: 10px;
    margin-left: 185px;
}
#current_date{
    padding-top: 20px  !important;
    padding-left: 10px !important;
}
#employeecard{
    background-color: white;
    border-radius: 18px;
    margin-left: 75px;
    padding: 5px 50px;
    margin-top: 55px;
    height: 200px;
}
#header_card{
    display: flex;
    width: 100%;
    margin-top: -10px;
    border-bottom: 1px solid rgb(234, 234, 234);
}
#header_card img{
    width: 50px;
}
#info_header_card{
    margin-left: 50px;
} 
#info_header_card h3{
    font-size: 20px;
}
.footer_p{
    display: flex;
    font-size: 16px;
    color: #575656;
}
#footer_card{
    margin-left: 20px;
}
#checkin{
    background-color: #FFCB00;
    text-decoration: none;
    color: #575656;
    padding: 5px 18px;
    border-radius: 10px;
}

#newjobheading{
    display: flex;
    justify-content: center;
}
#newjobform{
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-left: 50px;
    margin-right: 50px;
}
table{
    table-layout: fixed !important;
}
.dsc {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    width:60%;
    max-width:60%;
}